*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: beige;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h2 {
    padding: 2vh;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
}
.logo {
    width: 10vw;
    height: 10vw;
}